@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 
/* overall set up */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:white;
}
body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    background: #f1f2f4;
    color: #000;
}
.outer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* button set up */
.btn{
    display: inline-block;
    font-size: 15px;
    line-height: 60px;
    padding: 0 50px;
    border-radius: 30px;
    color: #fff;
    background-color: #da5148;
    cursor: pointer;
}
.btn:hover{
    background-color: #f5c285;
    color: #fff;
}
/* =======nav bar======= */
.logo{
    font-size: larger;
    font-weight: bold;
}
header{
    padding:10px 0;
    background: #da5148;
    position: relative;
}
header ul{
    display: flex;
}
header ul li{
    flex: 1;
    text-align: center;
    list-style: none;
}
header ul li a{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}
/* when you touch the li */
header ul li a:hover,header ul li a.active{
    color:#f3d6b2;
}
/* what will happen the window become min */
header .headMin{
    display: none;
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    line-height: 40px;
}
header .headMin .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #da5148;
}
header .dropMenu{
    position: absolute;
    top:60px;
    left: 0;
    width: 100%;
    background:rgba(0,0,0,0.9);
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    transition: height 0.2s;
    height: 0;
    overflow: hidden;
    display: none;
}
header .dropMenu.show{
    height: 160px;
}
header .dropMenu .menu-list:hover,header .dropMenu .menu-list.active{
    color:#f3d6b2;
}
header .headMin .menu-toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
}
/* set up the media = responsive design */
@media screen and (max-width: 768px){
    header ul li{
        display: none;
    }
    header .headMin,header .dropMenu{
        display: block;
    }
}

/* ======hero part======= */
.banner{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.banner .outer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 15px;
}
.banner .ban-left{
    flex: 0.6;
    padding: 20px 0;
}
.banner .ban-right{
    flex:0.4;
}
.banner .ban-left,.banner .ban-right{
    animation: show 1.5s;
    -webkit-animation: show 1.5s;
}
/* add animations to the pictures */
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* banner size adjust */
.banner .ban-left .desc1{
    font-size: 28px;
    line-height: 40px;
    font-weight: bolder;
    padding-bottom: 50px;
}
.banner .ban-left .desc2{
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 50px;
}
.banner .ban-right {
    padding: 0 60px;
}
.banner .ban-right img{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #a7a7a7;
    position: relative;
    left: 0px;
    transition: left 0.3s;
    cursor: pointer;
}
.banner .ban-right img:hover{
    left: 7px;
}
/* the dropdown menu */
@media screen and (max-width: 768px){
    .banner .ban-left,.banner .ban-right{
        text-align: center;
        width: 100%;
        flex: initial;
    }
    .banner .ban-right{
        padding:0;
    }
}
/*introduce*/
.introduce{
    padding: 40px 0;
}
.introduce .outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.introduce .outer .card{
    width: 28%;
    background: #fff;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #cecece;
    padding: 45px 30px 60px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .introduce .outer{
        justify-content: center;
    }
    .introduce .outer .card{
        width: 70%;
    }
}
.introduce .outer .card img{
    width: 50px;
    margin-bottom: 30px;
}
.introduce .outer .card .title{
    font-size: 20px;
    line-height: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.introduce .outer .card .contant{
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

/*mainShow*/
.mainShow{
    padding: 20px 0;
}
.mainShow .outer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mainShow .outer .show-left,.mainShow .outer .show-right{
    width: 50%;
    padding: 20px 0;
    text-align: left;
}
.mainShow .outer .show-left{
    padding-right: 30px;
}
.mainShow .outer .show-right{
    padding-left: 30px;
}
.mainShow .mediaMin{
    display: none;
}
@media screen and (max-width: 768px){
    .mainShow .outer .show-left,.mainShow .outer .show-right{
        width: 88%;
        padding: 20px 0;
    }
    .mainShow .mediaMin{
        display: flex;
    }
    .mainShow .mediaMax{
        display: none;
    }
}
.mainShow img{
    width: 100%;
    position: relative;
    top:0px;
    transition: top 0.2s;
    cursor: pointer;
    border-radius: 4px;
}
.mainShow img:hover{
    top:-7px;
}
.mainShow .title{
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 30px;
    font-weight: bold;
}
.mainShow .desc{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px;
}

/*back to top*/

.back{
    background: #da5148;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
}